* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333e5a;
  min-height: 100%;
}

header {
  background: #f0293e;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 2em;
}

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background: #ffffff;
  flex-grow: 1;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border: 1px solid #333e5a;
}
form > div > input:focus {
  outline: none;
}

button {
  background: #333e5a;
  color: #fff;
  font-size: 16px;
  padding: 1em 2em;
  border: 1px solid transparent;
}
button:hover {
  background: #333e5a80;
}

.room {
  position: relative;
  background-color: #000;
  margin-top: -2em;
  padding-top: 2em;
  height: 100vh;
}
.room h2 {
  color: #fff;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-off {
  background-color: #f0293e;
  border-radius: 50%;
  padding: 2em;
}
.audio {
  background-color: #5a5555;
  border-radius: 50%;
  padding: 2em;
}

.local-participant {
  text-align: center;
  margin-bottom: 1em;
  width: 250px;
}
.remote-participants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  background: #868686;
  display: inline-block;
  margin-right: 10px;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #fff;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
  flex-direction: column;
}

video {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border: 2px solid#868686;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}
